
<%= form_with model: @product do |form| %>

    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    
    <div>
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>

    <div>
        <%= form.label :price %>
        <%= form.number_field :price %>
    </div>

    <div>
        <%= form.collection_select :category_id, Category.all.order(name: :asc), :id, :name %>
    </div>

    <div>
        <%= form.label :main_photo %>
        <%= form.file_field :main_photo %>
    </div>

    <div>
        <%= form.submit %>
    </div>
    <% @product.errors.full_messages.each do |error| %> 
        <div class="bg-red-300"><%= error %></div>
    <% end %>
<% end %>