    <%= link_to product_path(product.id), class:"bg-white mb-2 rounded-sm sm:w-[calc(33.33333%_-_.5rem)] lg:w-[calc(25%_-_.5rem)]", 'data-turbo-frame': '_top' do %>
    <%= image_tag product.main_photo.attached? ? product.main_photo : 'placeholder.jpg', class: "w-full h-60 object-cover" %>
        <div class="product m-2">
            <span class="font-bold text-xl"><%= product.price %></span>
            <h2 class=""><%= product.title %></h2>
            <p class="text-gray-500 text-sm my-2"><%= product.description %></p>
        </div>
    <% end %>