<%= turbo_frame_tag 'home' do %> 
  <div class="bg-green-200 p-8">
    <h1><%= t('.title') %></h1> 

    <%= form_with url: products_path, class:"flex gap-4", method: :get do |form| %>
      <div>
        <%= form.number_field :min_price, placeholder:  t('.min_price'),
        onChange: 'this.form.requestSubmit()', value: params[:min_price] %>

        <%= form.number_field :max_price, placeholder:  t('.max_price'),
        onChange: 'this.form.requestSubmit()', value: params[:max_price] %>
      </div>
      <div>
        <%= form.text_field :query_text, placeholder: t('.query_text'),
        onChange: 'this.form.requestSubmit()', value: params[:query_text] %>   
      </div>
      <div>
        <%= form.select :order_by, 
          options_for_select(Product::ORDER_BY.keys.map { |order| [t(".#{order}"),order] }, params[:order_by]),
          {}, 
          { onChange: 'this.form.requestSubmit()'} 
        %> 
      </div>

    <% end %>
    <div class="flex gap-2 py-4 border-l-2 border-indigo-400 px-2 my-2">
      <%= link_to products_path do %><h3><%= t('.all') %></h3><% end %>
      <%= render partial: 'category',collection: @categories %>
    </div>


  <%= turbo_frame_tag "products-#{@pagy.page}", class: 'products' do %>
      <%= render partial: 'product', collection: @products %>
      <%= turbo_frame_tag "products-#{@pagy.next}",
        class: 'products',
        src: pagy_url_for(@pagy, @pagy.next),
        loading: :lazy if @pagy.next %>
  <% end %>
<% end %>
