<%= turbo_frame_tag 'categories' do %> 
  <div class="bg-green-200 p-8">
    <h1><%= t('.title') %></h1> 

    <%= form_with url: products_path, method: :get do |form| %>
      <div>
        <%= form.number_field :min_price, placeholder:  t('.min_price'),
        onChange: 'this.form.requestSubmit()', value: params[:min_price] %>

        <%= form.number_field :max_price, placeholder:  t('.max_price'),
        onChange: 'this.form.requestSubmit()', value: params[:max_price] %>
      </div>
      <div>
        <%= form.text_field :query_text, placeholder: t('.query_text'),
        onChange: 'this.form.requestSubmit()', value: params[:query_text] %>   
      </div>
      <div>
        <%= form.select :order_by, 
          options_for_select([['Recientes', 'newest'],['Mas caros','expensive'],['Mas baratos','cheapest']], params[:order_by]),
          {},
          { onChange: 'this.form.requestSubmit()'} 
        %> 
      </div>

    <% end %>
    <%= link_to t('.all'), products_path %>
    <%= render partial: 'category', collection: @categories %>
    
    <div class="products">
      <%= render partial: 'product', collection: @products %>
    </div>
  </div>
<% end %>
