<div class="container bg-blue-800 text-slate-50 dark:bg-blue-100 dark:text-slate-800 p-10 rounded-sm">
         <%= render partial: 'products/product_details', locals: { product: @product } %>       
        <%= link_to t('.edit'), edit_product_path(@product) if @product.owner? %>
        
        <%= link_to product_path(@product),
                data: {turbo_confirm: t('common.confirm'), turbo_method: :delete } do %>
                <h4>Delete</h4>
        <% end if @product.owner? %>

        <%= @product.user.email %>
        
        <%= link_to t('.view_more_products', username: @product.user.username), user_path(@product.user.username) %>


        <%= render partial: 'favorite', locals: {product: @product } %>


        <div data-controller="websocket-productremoved" data-productid="<%= @product.id %>"></div> 
  <%= turbo_stream_from @product %> 

</div>
